.bg-barra-nav{

    background:#59e059;  
background: -webkit-linear-gradient(to right, #59e059); 
background: linear-gradient(to right, #59e059, #59e059,#59e059);

}

#img_top .carousel-item img{
    height: 90vh;
}

.text-seg-body{
    text-align: justify;
}

.gran-img {
    max-width: 100%;
    height: auto;
  }
  

#seg .card-body img {
    max-width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
}

.grande-img {
    max-height: 450px !important;
}

#ventana .navbar-nav .nav-item .nav-link,
#ventana .navbar-form .form-control {
    color: white;
}

.align-items{
    border:none;
    border-right: 1px solid;
    border-bottom: 1px solid;
   
    align-items: center !important;
}


*{
    margin:0;
    padding: 0;
}
.I-J-img {
    max-height: 400px !important;
}

.bg-social{

    background: -webkit-linear-gradient(to right, #091309, #1ec918); 
    background: linear-gradient(to right, #121412, #19e62a); 
    
}

.list-social li{
    border: none !important;
    background-color: rgb(0,0,0,0) !important;
}

.list-group {
    border: none;
}

.list-group-item {
    border-top: none;
}





@media(max-width:400px){
    .I-J-img{
        display: none;
    }

    .bg-social{
        background: #19f112;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #091309, #1ec918);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #121412, #19e62a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
}